<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Блог</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Мой Блог</h1>
        <nav>
            <a href="{{ url_for('add_post') }}" class="btn">Добавить пост</a>
            <a href="{{ url_for('add_user') }}" class="btn">Добавить пользователя</a>
        </nav>
        <div class="posts">
            {% for post in posts %}
            <div class="post-card">
                <h2>{{ post.title }}</h2>
                <p>Автор: <a href="{{ url_for('user', user_id=post.author.id) }}">{{ post.author.name }}</a></p>
                <p>Дата создания: {{ post.created_at.strftime('%d.%m.%Y %H:%M') }}</p>
                <a href="{{ url_for('post', post_id=post.id) }}">Подробнее</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

